@import url(
  "https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282D35;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

/* Navbar styles */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #21222A;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.react-logo {
  width: 30px;
  height: 30px;
  margin: 30px 7px 30px 25px;
}

.nav-container h3 {
  margin-right: auto;
  color: #61dafb;
  font-size: 1.4em;
  letter-spacing: -0.05em;
}

.nav-text {
  color: #deebf8;
  font-weight: 600;
  margin: 26px;
}

/* Main content styles */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: 100% 107px;
  padding: 25px;
}

.main-content {
  width: 420px;
  color: white;
}

.main-content h1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-content ul {
  margin-top: 46px;
}

.main-content li {
  padding-block: 10px;
}

.main-content li::marker {
  font-size: 1.4em;
  color: #61dafb;
}

@media (max-width: 550px) {
  .main-content {
    width: 100%;
  }
}